
.content-header {
  font-size: 2.5rem;
}

.row-grey {
    background: #efefef;
}

.code-row {
  padding: 2rem 0;
}

.shell-body {
  margin: 0;
  padding: 5px;
  list-style: none;
  background: #141414;
  color: #45D40C;
  font: 0.8rem 'Andale Mono', Consolas, 'Courier New';
  line-height: 1.2rem;
 
  border-radius: .25rem;

  li {
    word-wrap: break-word;
    position: relative;

    &.command {
      padding: 0 0 0 15px;

      &:before {
        content: '$';
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &.tabbed {
      padding-left: 2rem;
      color: #C33829;
    }
  }

  .command-author {
    color: #5543DE;
    font-weight: strong;
  }

  .command-hash {
    color: #A9A823;
  }
}

.subscribe-button {
  width: 100%;
}
